<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin: top 70px;">
            <div class="col-md-6 offset-md-3">
                
               <mat-card>
                    <div class="container text-center">
                      <img src="../../../assets/register1.png" alt="">
                  </div>
  
                <h1 class="text-center">Register Here !!</h1>  
  
                <!-- {{ user | json }} -->
  
                <form (ngSubmit)="formSubmit()">
  
                  <!-- UserName field -->
                   <mat-form-field class="full-width"  appearance="outline">
                      <mat-label>User Name</mat-label>
                      <input
                      required
                      [(ngModel)]="user.username"
                      name="username"
                       matInput placeholder="Enter here"/>
                       <mat-hint>User name must be unique!!</mat-hint>
                    </mat-form-field>
  
                    <!-- Password field -->
                    <mat-form-field class="full-width"  appearance="outline">
                      <mat-label>User Password</mat-label>
                      <input 
                      required
                      [(ngModel)]="user.password"
                      name="password"
                       type="password" matInput placeholder="Enter here"/>
                    </mat-form-field>
  
                    <!-- First Name -->
                    <mat-form-field class="full-width"  appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input
                      required
                      [(ngModel)]="user.firstname"
                      name="firstname"
                       matInput placeholder="Enter here"/>
                    </mat-form-field>
  
                    <!-- LastName -->
                    <mat-form-field class="full-width"  appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input 
                      required
                      [(ngModel)]="user.lastname"
                      name="lastname"
                       matInput placeholder="Enter here"/>
                    </mat-form-field>
  
                    <!-- email -->
                    <mat-form-field class="full-width"  appearance="outline">
                      <mat-label>Email Address</mat-label>
                      <input
                      required
                      [(ngModel)]="user.email"
                      name="email" 
                       type="email" matInput placeholder="Enter here"/>
                    </mat-form-field>
  
                    <!-- Phone -->
                    <mat-form-field class="full-width"  appearance="outline">
                      <mat-label>Phone Number</mat-label>
                      <input
                      required
                      [(ngModel)]="user.phone"
                      name="phone" 
                      type="number" matInput placeholder="Enter here"/>
                    </mat-form-field>
                    
                    <!-- profile -->
                    <mat-form-field class="full-width"  appearance="outline">
                      <mat-label>Profile</mat-label>
                      <input
                      required
                      [(ngModel)]="user.profile"
                      name="profile" 
                      matInput placeholder="Enter here"/>
                    </mat-form-field>
  
                    <div class="container text-center">
                      <button type="submit" mat-raised-button color="primary">Register</button>
                      <button style="margin-left:20px" mat-raised-button color="accent">Clear</button>
                   </div>
  
  
                </form>
              </mat-card>
            </div>
        </div>
    </div>
</div>
